main {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
}

aside {
  width: 35vw;
  position: fixed;
}

@media (max-width: 800px) {
  aside {
    width: 100%;
    position: relative;
  }
}

aside ul {
  padding-left: 0;
  list-style: none;
}

@media (max-width: 800px) {
  aside ul {
    display: flex;
    flex-direction: row;
    margin: 2px 0;
  }
}

aside ul li {
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  width: fit-content;
  font-size: 14px;
  white-space: nowrap;
}

aside ul li:hover {
  background-color: beige;
}

aside section {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

@media (max-width: 800px) {
  aside section {
    flex-direction: column;
  }
}

aside section div {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 15px 15px 4px;
  border-radius: 25px;
  padding: 10px;
}

aside section img {
  display: block;
  max-width: 80px;
}

aside section h1 {
  margin: 0;
  font-size: 28px;
}

aside section h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

article ul {
  padding-left: 15px;
}

article ul li {
  margin-bottom: 5px;
  line-height: 28px;
}

p:nth-of-type(2n) {
  margin-left: 25px;
}

blockquote {
  white-space: pre-wrap;
  background-color: beige;
  margin: 0;
  padding: 25px 90px 25px 70px;
  width: fit-content;
}

blockquote p {
  margin: 0;
  line-height: 24px;
}
