.brand {
    flex-direction: row;
}

.brandText {
    align-self: center;
    box-shadow: none;
}

.chapterList {
    width: 250px;
}

@media (max-width: 800px) {
    .chapterList {
        width: calc(100vw - 40px);
        overflow-x: scroll;
    }
}

.poemList {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    .poemList {
        width: calc(100vw - 40px);
        overflow-x: scroll;
    }
}

.selected {
    background-color: beige;
}